* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.container h2 {
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container form input {
  padding: 10px;
  width: 300px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.container form button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(50, 50, 247);
  color: white;
  border: 1px solid rgb(80, 77, 77);
  border-radius: 10px;
}

.container form button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(50, 50, 247);
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.container form button:hover {
  background-color: rgb(85, 85, 249);
}

.weather-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.weather-data img {
  width: 75px;
  height: 75px;
  display: none;
}

.weather-data #temperature {
  font-size: 36px;
  font-weight: bold;
}

.weather-data #description {
  font-size: 18px;
}

.weather-details{
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.weather-details div {
  background-color: rgb(211, 211, 211);
  font-size: 16px;
  padding: 20px 20px;
  border-radius: 5px;
}

@media (max-width : 375px) {
  .container form {
    flex-direction: column;
  }

  .weather-details {
    flex-direction: column;
  }
}
